logs
target

.idea
.idea_modules
.classpath
.project
.settings
RUNNING_PID
logback.xml
ve/src/main/resources/application.conf
vili/conf/application.conf
lib/

# cs / .NET
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
driver/

# NuGet Packages
*.nupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets