///https://codepen.io/crystalenka/pen/VYaGXm
@mixin hexagon($width, $background) {
  $height: 60px / 104px * $width;
  background-color: $background;
  width: $width;
  height: $height;
  position:relative;
  margin: ($height / 2 + 20);
  box-sizing:border-box;

  &:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: ($height / 2) solid $background;
    border-left: ($width / 2) solid transparent;
    border-right: ($width / 2) solid transparent;
    position: absolute;
    display:block;
    top:-($height / 2);
  }
  &:after {
    content: " ";
    width: 0; height: 0;
    border-top: solid $background;
    border-top-width: ($height / 2);
    border-left: ($width/2) solid transparent;
    border-right: ($width/2) solid transparent;
    position: absolute;
    display:block;
    top:$height;
  }
}

.hex-outer {
  @include hexagon(75px, rgba(63,191,191,.8));
  color: #fff;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

.hex-middle {
  @include hexagon(62.5px, rgba(255,255,255,.8));
  top: 11%;
  color: #fff;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  z-index: 1;
}

.hex-inner {
  @include hexagon(50px, rgba(150,50,25,.8));
  top: 11%;
  color: #fff;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  z-index: 2;
}
